.content,
.form,
.form__info-content,
.form__action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reservation {
  background-repeat: no-repeat;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-color: #ffd6c5;
  min-height: 100vh;
  padding: 100px 80px 120px;
  text-align: center;
}

.reservation__title,
.form__label,
.form__input,
.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
}

.reservation__title,
.form__input,
.form__button {
  font-weight: 500;
}

.reservation__title {
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  height: 60px;
  padding: 15px 20px;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #e96e3a;
  color: #fff;
  height: 60px;
  margin-bottom: 32px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__label_type_checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.form__checkbox:checked {
  background: #e96e3a url(../images/check.svg) no-repeat center;
  background-size: 60%;
}
