* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  position: relative;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.header__nav {
  vertical-align: top;
  float: right;
  position: relative;
  top: 30px;
  right: 30px;
}

.header__links-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.header__list-item {
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.header__title {
  position: relative;
  left: 80px;
  max-width: 709px;
  padding-top: 183px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 28px;
}

.header__accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #ff976b;
}

.header__description {
  position: relative;
  left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  margin: 0;
  width: 646px;
  height: 568px;
}

.header__info {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6f6f6f;
}

.header__hours-container {
  margin-left: 80px;
}

.header__info-text--address {
  margin-right: 80px;
}

/* Reservar una mesa */
.content,
.form,
.form__content {
  display: flex;
  flex-direction: column;
}

.content {
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffd6c5;
  min-height: 720px;
  max-height: 800px;
}

.content__container {
  margin: 0 auto;
}

.content__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  top: 100px;
}

.form {
  position: relative;
  top: 180px;
  max-width: 385px;
  text-align: left;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 4px;
}
